<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
        <br>
      <input type="text" id="userName" class="fadeIn second"  name="userName"   placeholder="Email o Nombre de Usuario">
      <input type="text" id="password" class="fadeIn third"  name="clave"  placeholder="Contraseña">
      <input type="text" id="re-password" class="fadeIn third"  name="clave"  placeholder="Reingrese su Contraseña">
      <input type="text" id="login" class="fadeIn second"  name="login"   placeholder="Nombre / Name">
      <input type="text" id="namecomplete" class="fadeIn third"  name="clave"  placeholder="Apellido / Surname">
      

      <input type="submit" class="fadeIn fourth"  value="Ingresar">
      <br>
    </form>

<div id="formFooter">
  <br>
  <a  [routerLink]="['../loginscreen']" class="underlineHover"  routerLinkActive="router-link-active" >Volver a Iniciar Sesion</a>
</div>


  </div>
</div>